* {
    padding: 0;
    margin: 0;
    font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

#map-container {
    width: 100vw;
    height: 100vh;
}

#console {
    width: 350px;
    height: 180px;
    position: fixed;
    left: 30px;
    bottom: 30px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(37, 37, 37, 0.85);
    box-shadow: 0 3px 10px 3px black;
    overflow: auto;
    opacity: 0.0;
    transition: all 0.3s;
}
#console::-webkit-scrollbar {
    width: 2px;
}
#console::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
#console > p {
    margin-top: 4px;
    font-size: smaller;
    color: white;
}
.error {
    color: red;
}

/* Input */
.input-set {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #252525;
    box-shadow: 0 3px 10px 3px black;
    color: white;
}

.set-title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 16px;
}

.middle {
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;

}
.set-inputs p {
    margin-bottom: 8px;
}
.set-inputs input {
    width: 130px;
    margin-right: 10px;
}

.set-inputs textarea {
    resize: none;
    width: 100%;
}

.set-inputs label {
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 5px;
}

.set-buttons {
    width: 100%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center; */

}

.set-buttons button:hover {
    cursor: pointer;
    box-shadow: 0 3px 10px 3px black;
}
.set-buttons button:focus {
    border: none;
    outline: none;
}
.set-buttons button {
    width: 100%;
    padding: 8px;
    margin-top: 8px;
    margin-bottom: 4px;
    background-color: #007acc;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    border: none;
    outline: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}